{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react"
    ],
  "plugins": ["react", "jsx-a11y"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
